* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 270px;
  height: 420px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-holder {
  text-align: center;
  margin: 1.5rem;
}

.qr-img {
  width: 220px;
  border-radius: 10px;
}

.text-container {
  text-align: center;
  margin: auto;
}

.main-text {
  font-size: 1.2rem;
  font-weight: 700;
  margin: .4rem 1rem;
  margin-top: .8rem;
  color: hsl(218, 44%, 22%);
}

.sub-text {
  font-size: .8rem;
  font-weight: 400;
  margin: 0.8rem 1.5rem;
  margin-top: .8rem;
  color: hsl(220, 15%, 55%);
}